ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
CONTACT_EMAIL=
GEMINI_API_KEY=
JWT_SECRET=
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=
KV_URL=
MAIL_CONSOLE_API_KEY=
MAIL_CONSOLE_API_URL=
MAIL_CONSOLE_MOCK=
MAIL_CONSOLE_TEMPLATE_ID=